<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/main.css" rel="stylesheet" />

    <title>Watchman</title>
</head>

<body>
    {% block content %}
    {% endblock content %}

    <script src="/static/bootstrap/popper.min.js"></script>
    <script src="/static/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>