{% extends "base.html" %}

{% block content %}

{% include "navbar.html" %}

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img
                            src="https://mdbcdn.b-cdn.net/img/screens/yt/screen-video-2.webp"
                            class="w-100"
                    />
                    <div class="card-body">
                        <p class="card-text">
                            <b>Created: </b> 2021-20-23 03:34 PM
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-danger">Delete</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img
                            src="https://mdbcdn.b-cdn.net/img/screens/yt/screen-video-2.webp"
                            class="w-100"
                    />
                    <div class="card-body">
                        <p class="card-text">
                            <b>Created: </b> 2021-20-23 03:34 PM
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-danger">Delete</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img
                            src="https://mdbcdn.b-cdn.net/img/screens/yt/screen-video-2.webp"
                            class="w-100"
                    />
                    <div class="card-body">
                        <p class="card-text">
                            <b>Created: </b> 2021-20-23 03:34 PM
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img
                            src="https://mdbcdn.b-cdn.net/img/screens/yt/screen-video-2.webp"
                            class="w-100"
                    />
                    <div class="card-body">
                        <p class="card-text">
                            <b>Created: </b> 2021-20-23 03:34 PM
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}